body {
    margin: 0px;
    overflow: hidden;
    font-family: "Arial";
}

.main-page{
    .game-container{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }
}